@font-face {
  font-family: "iransans";
  src: url("/fonts/iransans/IRANSansWeb.eot");
  src: url("/fonts/iransans/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
    url("/fonts/iransans/IRANSansWeb.ttf") format("truetype"),
    url("/fonts/iransans/IRANSansWeb.woff") format("woff"),
    url("/fonts/iransans/IRANSansWeb.woff2") format("woff2");
}
* {
  font-family: "iransans", sans-serif;
  font-weight: normal;
  font-size: 0.9rem;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f5f5f5;
}

.video-container > div {
  width: 100% !important;
  height: 100% !important;
}

.tox-notifications-container {
  display: none;
}
